.main{
    position: relative;
}

.portfolio-main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-main h1 {
  font-size: 4.5em;
  font-family: "Holiday", sans-serif;
  color: var(--primary-color);
  margin-bottom: 20px;
  font-weight: 400;
}

.portfolio-main h2 {
  font-size: 2em;
  color: var(--secondary-color);
  margin-bottom: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}
